/* add fonts */
@font-face {
    font-family: 'GT American Mono Bold';
    src: url('../fonts/GT-America-Mono-Bold.ttf');
}

@font-face {
    font-family: 'GT American Mono Light';
    src: url('../fonts/GT-America-Mono-Light.ttf');
}

body {
    background-color: #FFF5E9;
    font-family: 'Nanum Myeongjo', serif;
    margin: 0;
}

nav {
    width: 100%;
}

nav #div-upper {
    font-family: 'GT American Mono Light', sans-serif;
    height: 96px;
    font-size: 24px;
    border-bottom: 1px solid black;
}

nav #div-upper img {
    float: left;
    /* align to center */
    margin-top: 16px;
    margin-left: 24px;
}

nav #div-upper a {
    float: left;
    color: black;
    margin-top: 20px;
    margin-left: 16px;
    text-decoration: none;
}

nav #div-lower {
    height: 32px;
    font-size: 16px;
    border-bottom: 1px solid black;
    font-family: 'GT American Mono Light', sans-serif;
}

nav #div-lower .div-left {
    float: left;
    margin-left: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}

nav #div-lower .div-left a {
    color: black;
    text-decoration: none;
}

nav #div-lower .div-right {
    float: right;
    margin-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}

nav #div-lower .div-right div {
    width: 84px;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #div-lower .div-right div a {
    text-decoration: none;
    color: black;
}

nav #div-lower .div-right div:nth-child(3) {
    background-color: black;
}

nav #div-lower .div-right div:nth-child(3) a {
    color: white;
}

#splash-image {
    width: 100%;
    border-bottom: 1px solid black;
}

#splash-image img {
    width: 100%;
}

#bio #bio-upper {
    font-size: 16px;
    height: 32px;
    font-family: 'GT American Mono Light', sans-serif;
    border-bottom: 1px solid black;
    width: 100%;
}

#bio #bio-upper p {
    margin-left: min(14%, 200px);
}

#bio #bio-lower {
    font-size: 36px;
    width: 100%;
    border-bottom: 1px solid black;
}

#bio #bio-lower p {
    margin: 12px min(14%, 200px);
}

#bio #bio-lower a {
    color: #AE5741;
    text-decoration: none;
}

#work>h1 {
    font-size: 36px;
    margin: 128px min(14%, 200px) 0 min(14%, 200px);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.card:nth-of-type(3n+1) {
    background-color: #AE5741;
}

.card:nth-of-type(3n+2) {
    background-color: #B12525;
}

.card:nth-of-type(3n) {
    background-color: #363B8F;
}

.card {
    margin: 36px min(14%, 200px) 36px min(14%, 200px);
    color: white;
    width: calc(100% - 2 * min(14%, 200px) - 2 * 48px);
    padding: 48px 48px 24px 48px;
}

.card .rule {
    width: 100%;
    height: 1px;
    background-color: white;
}

.card .type-container{
    width: 256px;
    height: 36px;
    border: 1px solid white;
    font-family: 'GT American Mono Light', sans-serif;
}

.card .type-container .left {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.card:nth-of-type(3n+1) .type-container .left {
    color: #AE5741;
}

.card:nth-of-type(3n+2) .type-container .left {
    color: #B12525;
}

.card:nth-of-type(3n) .type-container .left {
    color: #363B8F;
}

.card .type-container .right {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .text-container {
    width: 100%;
    /* make it contain a left and right that take up 70/30 respectively */
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    font-size: 16px;
}

.card .text-container .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align text to bottom left */
    justify-content: flex-end;
}

.card .text-container .right {
    width: 30%;
    /* float text to bottom and right */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card .text-container .right a {
    font-family: 'GT American Mono Bold', sans-serif;
    margin-right: 32px;
    margin-bottom: 16px;
    text-decoration: none;
    color: white;
}

.card .footnote {
    font-family: 'GT American Mono Light', sans-serif;
}

.card .footnote span {
    font-family: 'GT American Mono Bold', sans-serif;
}